@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
}

.button {
  outline: none;
  border: none;
  height: 3.5rem;
  font-weight: 700;
  border-radius: 0.625rem;
  overflow: hidden;
}

/* ## Colors */
/*  */
/* ### Primary */
/* ### Neutral */
/* (with 75% opacity for lightbox background) */
.container {
  width: 87.2%;
  margin: 24px auto;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  max-height: 24px;
}
.nav__menu {
  cursor: pointer;
}
.nav__menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: hsla(0deg, 0%, 0%, 0.75);
  height: 100vh;
}
.nav__menu-slide {
  background-color: hsl(0deg, 0%, 100%);
  height: 100%;
  width: 66.6%;
  padding: 1.5625rem;
  overflow: hidden;
}
.nav__close {
  display: block;
}
.nav__close-img {
  transition: transform 0.3s ease;
  cursor: pointer;
}
.nav__close-img:hover {
  transform: rotate(90deg);
}
.nav__link {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  width: 100%;
  gap: 1.25rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.625rem;
  margin-top: 3.125rem;
}
.nav__links:active, .nav__links :visited {
  color: hsl(220deg, 13%, 13%);
  text-decoration: underline;
}
.nav__links:hover {
  text-decoration: underline;
  opacity: 0.75;
}
.nav__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  gap: 1.375rem;
}
.nav__cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nav__cart:hover {
  cursor: pointer;
}
.nav__avatar {
  height: 100%;
  object-fit: cover;
  border: 2px solid transparent;
}
.nav__avatar:hover {
  cursor: pointer;
  border: 2px solid hsl(26deg, 100%, 55%);
  border-radius: 50%;
}
.nav .hidden {
  display: none;
}
@media screen and (min-width: 1440px) {
  .nav {
    width: 77.08%;
    height: 115px;
    border-bottom: 1px solid hsl(220deg, 14%, 75%);
    /* NAV RIGHT */
  }
  .nav__left {
    gap: 3.5625rem;
  }
  .nav__menu {
    display: none;
  }
  .nav__menu-bg {
    position: unset;
    height: unset;
  }
  .nav__menu-slide {
    width: unset;
    padding: 0;
  }
  .nav__link {
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2.0625rem;
    font-weight: 400;
    font-size: 0.9375rem;
    margin-top: 0;
    color: hsl(219deg, 9%, 45%);
  }
  .nav__links {
    display: block;
    padding: 2.625rem 0;
    border-bottom: 4px solid transparent;
  }
  .nav__links:hover {
    text-decoration: none;
    border-bottom: 4px solid hsl(26deg, 100%, 55%);
    color: hsl(220deg, 13%, 13%);
  }
  .nav__close {
    display: none;
  }
  .nav__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    gap: 3.0625rem;
  }
  .nav .hidden {
    display: unset;
  }
}

/* .images{
    width: 100%;
} */
.slider {
  position: relative;
  height: 300px;
}
.slider__img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.slider__arrow {
  position: absolute;
  top: calc(50% - 20px);
  /* transform: translateY(-50%); */
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.slider__arrow--prev {
  left: 4%;
  transition: transform 0.3s ease;
}
.slider__arrow--prev:hover {
  transform: scale(110%);
}
.slider__arrow--next {
  right: 4%;
  transition: transform 0.3s ease;
}
.slider__arrow--next:hover {
  transform: scale(110%);
}

.info {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  gap: 1.1875rem;
}
.info__company {
  color: hsl(26deg, 100%, 55%);
  font-size: 0.75rem;
  text-transform: uppercase;
}
.info___title {
  font-size: 1.75rem;
  line-height: 32px;
  font-weight: 700;
  color: hsl(220deg, 13%, 13%);
}
.info__paragraph {
  color: hsl(219deg, 9%, 45%);
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

.price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-weight: 700;
}
.price__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price__original {
  font-size: 1.75rem;
}
.price__discount {
  color: hsl(26deg, 100%, 55%);
  background-color: hsl(25deg, 100%, 94%);
  padding: 5.5px 10px;
  border-radius: 6px;
}
.price__old {
  justify-self: end;
  color: hsl(220deg, 14%, 75%);
  font-size: 1rem;
  text-decoration: line-through;
}

.counter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 4.0625rem;
}
.counter__wrapper {
  grid-column: span 3;
  background-color: hsl(223deg, 64%, 98%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.counter__symbols {
  padding: 1.5rem;
  transition: all 0.3s ease;
}
.counter__symbols:hover {
  cursor: pointer;
  transform: scale(120%);
  background-color: rgb(204, 204, 204);
  opacity: 0.5;
}
.counter__add {
  grid-column: span 3;
  background-color: hsl(26deg, 100%, 55%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  color: hsl(0deg, 0%, 100%);
  transition: all 0.3s ease;
}
.counter__add:hover {
  cursor: pointer;
  background-color: hsl(25deg, 100%, 94%);
}
.counter__cart {
  width: 1rem;
  filter: brightness(300%);
}

/*# sourceMappingURL=style.css.map */
