@use 'mixins';
@use 'variables';

.main{
    width: 100%;
    @media screen and (min-width: 1440px){
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 125px;
        width: 77.08%;
        padding: mixins.pixeles-rem(48);
        margin-top: 42px;
    }
}

.info{
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    gap: mixins.pixeles-rem(19);
    &__company{
        color: variables.$orange;
        font-size: mixins.pixeles-rem(12);
        text-transform: uppercase;
    }

    &__title{
        font-size: mixins.pixeles-rem(28);
        line-height: 32px;
        font-weight: 700;
        color: variables.$veryDarkBlue;
    }

    &__paragraph{
        color: variables.$darkGrayishBlue;
        font-weight: 400;
        font-size: mixins.pixeles-rem(12);
        line-height: mixins.pixeles-rem(25);
    }
    @media screen and (min-width: 1440px){
        gap: mixins.pixeles-rem(27);
        &__company{
            font-size: mixins.pixeles-rem(13);
        }
    
        &__title{
            font-size: mixins.pixeles-rem(44);
            line-height: mixins.pixeles-rem(48);
        }
    
        &__paragraph{
            font-size: mixins.pixeles-rem(16);
            line-height: mixins.pixeles-rem(26);
        }
    }
    

}

.price{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-weight: 700;
    &__group{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__original{
        font-size: mixins.pixeles-rem(28);
    }

    &__discount{
        color: variables.$orange;
        background-color: variables.$paleOrange;
        padding: 5.5px 10px;
        border-radius: 6px;
    }

    &__old{
        justify-self: end;
        color: variables.$grayishBlue;
        font-size: mixins.pixeles-rem(16);
        text-decoration:line-through;
    }
    @media screen and (min-width: 1440px){
        grid-template-columns: repeat(3, 1fr);
        gap: mixins.pixeles-rem(10);
        &__group{
            display: flex;
            justify-content: space-between;
            gap: mixins.pixeles-rem(10);
            align-items: center;
        }
        &__old{
            grid-column:1/2;
            justify-self: start;
        }
    }
}

.counter{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: mixins.pixeles-rem(16);
    margin-bottom: mixins.pixeles-rem(65);
    &__wrapper{
        grid-column: span 3;
        background-color: variables.$lightGrayishBlue;
        @include mixins.flexbox(row, center, space-between);
    }

    &__symbols{
        padding: mixins.pixeles-rem(24);
        transition: all .3s ease;
        &:hover{
            cursor: pointer;
            transform: scale(120%);
            background-color: rgb(204, 204, 204);
            opacity: 0.5;
        }
    }

    &__add{
        grid-column: span 3;
        background-color: variables.$orange;
        @include mixins.flexbox(row, center, center);
        gap: mixins.pixeles-rem(12);
        color: variables.$white;
        transition: all .3s ease;
        &:hover{
            cursor: pointer;
            background-color: variables.$paleOrange;
        }
    }

    &__cart{
        width: mixins.pixeles-rem(16);
        filter: brightness(300%);
    }
    @media screen and (min-width: 1440px){
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: mixins.pixeles-rem(0);
        &__wrapper{
            grid-column: 1/2;
        }
        &__add{
            grid-column: 2/4
        }
        
    }
}