@use 'mixins';
@use 'variables';

.container{
    width: 87.2%;
    margin: 24px auto;
}
.nav{
    @include mixins.flexbox(row, center, space-between);

    &__left{
        @include mixins.flexbox(row, center, space-between);
        gap: mixins.pixeles-rem(16);
        max-height: 24px;
    }

    &__menu{
        cursor: pointer;
    }

    
    &__menu-bg{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: variables.$lightBlack;
        height: 100vh;
    }
    
    &__menu-slide{
        background-color: variables.$white;
        height: 100%;
        width: 66.6%;
        padding: mixins.pixeles-rem(25);
        overflow: hidden;
    }
    
    &__close{
        display: block;
    }

    &__close-img{
        transition: transform .3s ease;
        cursor: pointer;
        &:hover{
            transform: rotate(90deg);
        }
    }

    &__link{
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: max-content;
        width: 100%;
        gap: mixins.pixeles-rem(20);
        font-weight: 700;
        font-size: mixins.pixeles-rem(18);
        line-height: mixins.pixeles-rem(26);
        margin-top: mixins.pixeles-rem(50);
    }

    &__links{
        &:active, :visited{
            color: variables.$veryDarkBlue;
            text-decoration: underline;
        }

        &:hover{
            text-decoration: underline;
            opacity: .75;
        }
    }

    

    &__right{
        @include mixins.flexbox(row, center, space-between);
        height: 24px;
        gap: mixins.pixeles-rem(22);
    }

    &__cart{
        @include mixins.flexbox(row, center, flex-start);
        &:hover{
            cursor: pointer;
        }
    }

    &__avatar{
        height: 100%;
        object-fit: cover;
        border: 2px solid transparent;
        &:hover{
            cursor: pointer;
            border: 2px solid variables.$orange;
            border-radius: 50%;
        }
    }

    .hidden{
        display: none;
    }

    @media screen and (min-width: 1440px) {
        width: 77.08%;
        height: 115px;
        border-bottom: 1px solid variables.$grayishBlue;
        &__left{
            gap: mixins.pixeles-rem(57);
        }

        &__menu{
            display: none;
        }

        &__menu-bg{         
            position: unset;
            height: unset;
        }

        &__menu-slide{
            width: unset;
            padding: 0;
        }

        &__link{
            grid-auto-flow: column;
            grid-auto-columns: max-content;
            gap: mixins.pixeles-rem(33);
            font-weight: 400;
            font-size: mixins.pixeles-rem(15);
            margin-top: 0;
            color: variables.$darkGrayishBlue;
        }

        &__links{
            display: block;
            padding:  mixins.pixeles-rem(42) 0;
            border-bottom: 4px solid transparent;  
            &:hover{
                text-decoration: none;
                border-bottom: 4px solid variables.$orange;
                color: variables.$veryDarkBlue;
            }
        }

        &__close{
            display: none;
        }

        /* NAV RIGHT */

        &__right{
            @include mixins.flexbox(row, center, space-between);
            height: 50px;
            gap: mixins.pixeles-rem(49);
        }
        .hidden{
            display: unset;
        }
        
    }
}


