@use 'mixins';

*{
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
ul{
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}

.button{
    outline: none;
    border: none;
    height: mixins.pixeles-rem(56);
    font-weight: 700;
    border-radius: mixins.pixeles-rem(10);
    overflow: hidden;
}